/* This is the StyleCatcher theme addition. Do not remove this block. */
@import url(https://blogs.psu.edu/mt4/mt-static/themes-base/blog.css);
@import url(https://blogs.psu.edu/mt4/mt-static/support/themes/professional-pink/professional-pink.css);
/* end StyleCatcher imports */




.TEPFDomain {
    /*background-color: lightblue;*/
    /*border: 1px solid black;*/
    padding: 5px 5px 5px 5px;
    margin: 3px 3px 3px 3px;
}


.TEPFDomain .TEPFDomainTitle {
    /*background-color: Azure;*/
    border: 1px hidden black;
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;

    font-weight: bold;
    font-size: 1.5em;
}

.TEPFDomain .TEPFDomainMetaSection {
    /*background-color: MediumTurquoise;*/
    border: 1px hidden black;    
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
}

.TEPFDomain .TEPFDomainAspectsSection {
    /*background-color: PaleTurquoise;*/
    border: 1px hidden black;    
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
}

.TEPFDomain .TEPFDomainAspectsSection .TEPFDomainAspectBlock {
    /*background-color: lightblue;*/
    border: 1px hidden black;    
    padding: 3px 3px 3px 3px;
    margin: 3px 3px 3px 3px;
    

}
.TEPFDomain .TEPFDomainAspectsSection .TEPFDomainAspectBlock .TEPFDomainAspectBlockHeader {
    font-size: 1.2em;

}
.TEPFDomain .TEPFDomainAspectsSection .TEPFDomainAspectBlock .TEPFDomainAspectBlockExcerpt {

}
.TEPFDomain .TEPFDomainAspectsSection .TEPFDomainAspectBlock .TEPFDomainAspectBlockEntries {

}

.TEPFEntryContentShowHideButton {
    font-size: 70%;    
    background-color: lightgrey;
    color: red;
    border: 1px hidden lightgrey;
}
.TEPFEntryBlock {
    margin: 5px 5px 5px 5px;
}
